.activities-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px;
}

.activity-card {
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 10px;
}

.dashboard-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 20px auto;
}

.dashboard-buttons button {
    padding: 10px;
    font-size: 18px;
}