.activities-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px;
}

.activity-card {
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 10px;
}

.dashboard-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 20px auto;
}

.dashboard-buttons button {
    padding: 10px;
    font-size: 18px;
}
.staff-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 450px;
    margin: 0 auto;
}

.staff-form input,
.staff-form select,
.staff-form button {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 18px;
}

.staff-form .row {
    width: 100%;
}

.staff-form label {
    font-size: 18px;
}